<div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="successModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #005cbf;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="successModalLabel"></h5>
            </div>
            <div class="modal-body">
                <h3>恭喜您注册成功！</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="tosuccessIndex()">返回首页</button>
            </div>
        </div>
    </div>
</div>